@font-face {
    font-family: 'MioFont';
    src: url('mangatb.ttf') format('truetype');
}

body {
    background-color: rgb(227,230,230);
    font-family: 'MioFont', sans-serif;
    border-radius: 14%;
    border-width: 1px;
    word-spacing: 3px;
    margin-right: 10px;
}

button {
    background-color: rgb(19,25,33);
    font-family: 'MioFont', sans-serif;
    color: rgb(255, 255, 255);
    word-spacing: 3px;
    margin-right: 10px;
    border-width: 5px;
    border-color: rgb(64, 87, 114);
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s ease;
}
button:active{
    transform: scale(0.96);
}
h1 {
    background-color: rgb(255, 237, 119);
    border-width: 5px;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
    width: 170px;
}

h2 {
    background-color: rgb(35,47,62);
    color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(64, 87, 114);
    border-radius: 10px;
    padding: 5px;
}

em {
    background-color: rgb(255, 237, 119);
    font-family: 'MioFont', sans-serif;
    color: black;
    word-spacing: 3px;
    margin-right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
    
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo */
    gap: 20px; /* Spazio tra gli elementi */
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto; /* Centra il container */
    padding: 10px;
}

.manga-item-a {
    background-color: rgb(35,47,62);
    padding: 10px;
    border: 5px solid rgb(64, 87, 114);
    border-radius: 10px;
    text-align: c0 calenter;
    flex: 0 c(33.33% - 20px); /* Larghezza di ogni elemento manga per 3 colonne */
    box-sizing: border-box;
    transition: transform 0.4s ease; /* Include padding e border nella larghezza totale */
}
.manga-item-a:hover{
    transform: translateY(-10px);
}
.manga-item-a img {
    width: 100%;
    height: 280px;
}
.manga-item-a h1{
    background-color: rgb(35,47,62);
    color: white;
    border-color: rgb(64, 87, 114);    
}

.manga-item-n {
    background-color: rgb(255, 71, 71);
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    flex: 0 0 calc(33.33% - 20px); /* Larghezza di ogni elemento manga per 3 colonne */
    box-sizing: border-box;
    transition: transform 0.4s ease; /* Include padding e border nella larghezza totale */

}
.manga-item-n:hover{
    transform: translateY(-10px)
}
.manga-item-n img {
    width: 100%;
    height: auto;
}
.manga-item-n h1{
    background-color: rgb(255, 71, 71);
    border-color: black;
    
}